
a {
    color: #000; 
    text-decoration: none;
}

a:hover {
    color: #000; 
    text-decoration: none;
}

.Navigation{ 
    height: 202px;
    flex-shrink: 0;
}
.AppLogo{
    margin-top: 0px;
    margin-left: 0px;  
}

.AppName{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 64px */
    margin-left: 90px;
    margin-top: -58px; 
}

.Page1{
    color: #000; 
    text-decoration: none;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 50px;
    font-style: italic;
    font-weight: 300;
    line-height: 160%; /* 80px */
    margin-left: 380px;
    margin-top: -70px;
}

.Page2{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    line-height: 160%; /* 48px */
    margin-left: 580px;
    margin-top: -60px;
}

.Page3{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    line-height: 160%; /* 48px */  
    margin-left: 745px;
    margin-top: -47px;  
}

.Page4{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    line-height: 160%; /* 48px */
    margin-left: 870px;
    margin-top: -48px;     
}

.Notifications_btn{
    position: absolute;
    top: -150px; left: 720px;   
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 48px */
    background-color: white;
    border: none; 
}

.Notifications_content{
    position: absolute;
    top: -100px; left: 720px; 
    width: 480px;
    height: 570px;
    flex-shrink: 0;
    border-top: 1px solid #A0A0A0;
    border-right: 4px solid #A0A0A0;   
    border-bottom: 4px solid #A0A0A0; 
    border-left: 4px solid #A0A0A0;
    background: #FFF;  
    display: none;
}

.Barre_Notifications{
    display: none;
    display: flex;
    width: 240px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5551FF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    margin-left: 3px;
    margin-top: -40px;
}

.Notifications_btn1{
    white-space: nowrap;
    width: 250px;
    height: 30px;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%; /* 26px */
    background: rgba(85, 81, 255, 0.30);
    border: none;
}

.Notifications_btn2{
    white-space: nowrap;
    width: 200px;
    height: 30px;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%; /* 26px */
    background:white;
    margin-top: 0%;
    border: none;

}

.MonProfil_btn{
    white-space: nowrap;
    position: absolute;
    top: -150px; left: 990px; 
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 48px */
    background-color: white;
    border: none;
}

.MonProfil_content{
    position: absolute;
    top: -100px; left: 720px;  
    display: none;
    width: 480px;
    height: 315px;
    flex-shrink: 0;
    border-top: 1px solid #A0A0A0;
    border-right: 4px solid #A0A0A0;
    border-bottom: 4px solid #A0A0A0;
    border-left: 4px solid #A0A0A0;
    background: #FFF;
}

.Barre_MonProfil{
    display: none;
    display: flex;
    width: 190px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5551FF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    margin-left: 275px;
    margin-top: -10px;
}

.Profil{
    display: none;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 48px */
}

.Gerer{
    display: none;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 48px */
}

.Deconnexion{
    display: none;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 19.5px */
    display: flex;
    width: 332px;
    padding: 4.5px 110px 4.5px 110px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #5551FF;
    margin-left: 75px;
    margin-top: 250px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: 40px;
  margin-left: 240px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: white;
  background-color: #5551FF;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.position_dot{
    margin-left: 100px;
    margin-top: -30px;
}

.active, .dot:hover {
  background-color: #5551FF;
}


.Réservation_btn{
    color: white;
    display: inline-flex;
    padding: 4.5px 141px 4.5px 141px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #5551FF;
    margin-left: 315px;
    margin-top: 22px;
}

.fond{
    
    background: #5551FF; 
    width : 1440px;  
    height : 530px;
    margin-top: 40px;
    margin-left: 50px; 
    border-radius: 24px;
    border: 2px solid #E6E6E6;
    background: #FAFAF5;
}

.button4 {background-color: #5551FF; color: white;} /* Gray */

.Connexion{
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.50);
    text-align: left;
    border: 0.5px solid#ffffff;
    border-radius: 10px;
    padding: 22px;
    position: absolute; 
    top: 150px; left: 90px; 
    height: 550px;
    width: 650px;
}
input {
    width : 98%;
    padding: 10px; 
    color: #0c0b0b;
    border-radius: 4px; 
    background: #D9D9D9;
    border: none;
   
  }

.button1{
    width: 350px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #5551FF; 
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 64px */
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 20px;
    border: none;
  }

  .position{
    margin-left: 400px;
    margin-top: -50px;
  }

  .position1{
    margin-left: 550px;
    margin-top: -48px;
  }
  .position3{
    margin-left: 890px;
  }

  .titreConnexion{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 88px */
    margin-left: 100px;
    margin-top: 10px; 
    margin-bottom: 50px;
  }

  .mdpOublié{
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 17px;
    font-style: italic;
    font-weight: 150;
    line-height: 160%; /* 40px */  
    margin-left: 200px;
  }

  .barre{
    width: 330px;
    height: 0.5px;
    background-color: #000;
    margin-left: 110px;
    margin-top: 15px;
  }


  .Connexion2{
    margin-top: 45px; 
    margin-left: 750px;
   
  }

  .PasDeCompte{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 88px */
    margin-top: -135px; 
    margin-left: 850px;
  }

  .CreationCompte{
    color: white;
    display: inline-flex;
    padding: 4.5px 141px 4.5px 141px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #5551FF;
    margin-left: 915px;
    margin-top: 22px;
}
  