a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

body {

    position: relative;
}



.AppLogo {
    margin-top: 0px;
    margin-left: 0px;
}

.Navigation {
    height: 100px;
    flex-shrink: 1;


}

.AppName {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 64px */
    margin-left: 150px;
    margin-top: -80px;
}



.accueil {
    color: #000;

    text-decoration: none;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    line-height: 160%;
    /* 80px */
    margin-left: 420px;
    margin-top: -40px;
}

.accueil:hover {
    font-weight: bold;
}

.reservation {
    color: #000;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    line-height: 160%;
    /* 48px */
    margin-left: 530px;
    margin-top: -40px;
}

.reservation:hover {
    font-weight: bold;
}

.tournois {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    line-height: 160%;
    /* 48px */
    margin-left: 680px;
    margin-top: -40px;
}

.tournois:hover {
    font-weight: bold;
}

.blog {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    line-height: 160%;
    /* 48px */
    margin-left: 800px;
    margin-top: -40px;
}

.blog:hover {
    font-weight: bold;
}

.Notifications_btn {
    position: absolute;
    top: 55px;
    left: 1000px;
    color: #000;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 48px */
    background-color: white;
    border: none;
}

.Notifications_content {
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 1000px;
    width: 480px;
    height: 270px;
    flex-shrink: 0;
    border-top: 1px solid #A0A0A0;
    border-right: 4px solid #A0A0A0;
    border-bottom: 4px solid #A0A0A0;
    border-left: 4px solid #A0A0A0;
    background: #FFF;
    display: none;
}

.Barre_Notifications {
    display: none;
    display: flex;
    width: 200px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5551FF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    margin-left: 2px;
    margin-top: -190px;
}

.Notifications_btn1 {
    white-space: nowrap;
    width: 250px;
    height: 30px;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    /* 26px */
    background: rgba(85, 81, 255, 0.30);
    border: none;
}

.Notifications_btn2 {
    white-space: nowrap;
    width: 200px;
    height: 30px;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    /* 26px */
    background: white;
    margin-top: 0%;
    border: none;

}

.MonProfil_btn {

    position: absolute;
    top: 55px;
    left: 1250px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 48px */
    background-color: white;
    border: none;
}

.MonProfil_content {
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 980px;
    display: none;
    width: 480px;
    height: 315px;
    flex-shrink: 0;
    border-top: 1px solid #A0A0A0;
    border-right: 4px solid #A0A0A0;
    border-bottom: 4px solid #A0A0A0;
    border-left: 4px solid #A0A0A0;
    background: #FFF;
}

.Barre_MonProfil {
    display: none;
    display: flex;
    width: 160px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5551FF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    margin-left: 272px;
    margin-top: -7px;
}

.Profil {
    display: none;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 48px */
}



.Deconnexion {
    display: none;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 19.5px */
    display: flex;
    width: 332px;
    padding: 4.5px 110px 4.5px 110px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #5551FF;
    margin-left: 75px;
    margin-top: 45px;
    margin-top: 30px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 40px;
    margin-left: 240px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: white;
    background-color: #5551FF;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.position_dot {
    margin-left: 10px;
    margin-top: -30px;
}

.active,
.dot:hover {
    background-color: #5551FF;
}


.Réservation_btn {
    color: white;
    display: inline-flex;
    padding: 4.5px 141px 4.5px 141px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #5551FF;
    margin-left: 280px;
    margin-top: 22px;
    text-align: center;

}

.fond {
    
    background: #5551FF;
    width: 1440px;
    height: 550px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 24px;
    border: 2px solid #E6E6E6;
    background: #FAFAF5;
}

.fond2 {
    overflow-y: scroll;
    background: #5551FF;
    width: 1440px;
    height: 550px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 24px;
    border: 2px solid #E6E6E6;
    background: #FAFAF5;
}


.Connexion {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.50);
    text-align: left;
    border: 0.5px solid#ffffff;
    border-radius: 10px;
    padding: 22px;
    position: absolute;
    top: 150px;
    left: 90px;
    height: 550px;
    width: 650px;
}

input {
    width: 98%;
    padding: 10px;
    color: #0c0b0b;
    border-radius: 4px;
    background: #D9D9D9;
    border: none;

}

.buttonGeneral {
    width: 350px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #5551FF;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 64px */
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 20px;
    border: none;
}

.titreConnexion {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 88px */
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.mdpOublié {
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 17px;
    font-style: italic;
    font-weight: 150;
    line-height: 160%;
    /* 40px */
    margin-left: 200px;
}

.barre {
    width: 330px;
    height: 0.5px;
    background-color: #000;
    margin-left: 110px;
    margin-top: 15px;
}

.ConnexionInscription {
    margin-top: 50px;
    margin-left: 750px;
    height: 575px;
    width: 780px;

    border-radius: 6px;
    background-image: url("images/connexion.jpg");
}

.ConnexionImage {
    width: 100%;
    size-adjust: 60%;


}

.PasDeCompte {
    display: inline-flex;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 88px */
    margin-top: 80px;
    margin-left: 120px;

}

.CreationCompte {
    color: white;
    display: inline-flex;
    padding: 4.5px 141px 4.5px 141px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #5551FF;
    margin-left: 220px;
    margin-top: 50px;
}

.CreationCompte:hover {
    font-weight: bold;
    color: white;
}

.InscriptionCompte {
    white-space: nowrap;
    color: white;
    display: inline-flex;
    padding: 4.5px 141px 4.5px 141px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #5551FF;
    margin-left: 270px;
    margin-top: 52px;
    border: none;
}

.InscriptionCompte:hover {
    font-weight: bold;
}


.fondInscripitionImage {
    margin-top: 50px;
    background-image: url("images/inscrpition.jpg");
    width: 100%;
    height: 560px;
    background-size: contain;
    background-size: cover;
}

.fondInscripition {
    position: absolute;
    width: 950px;
    height: 450px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.57);
    margin-left: 300px;
    margin-top: 50px;
}

.titreInscription1 {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 80px */
    margin-top: 30px;
    margin-left: 300px;
}

.titreInscription2 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 50;
    margin-top: 20px;
    margin-left: 150px;
}

.inscriptionNom {
    align-items: center;
    word-wrap: break-word;
    width: 420px;
    height: 50px;
    margin-left: 50px;
    margin-top: 15px;
}

.inscriptionPrenom {
    align-items: center;
    word-wrap: break-word;
    width: 420px;
    height: 50px;
    margin-left: 500px;
    margin-top: -50px;
}

.inscriptionNiveau {
    align-items: center;
    word-wrap: break-word;
    width: 920px;
    height: 50px;
    margin-left: 775px;
    margin-top: 55px;
}

.inscriptionMail {
    width: 725px;
    height: 50px;
    margin-left: 50px;
    margin-top: -80px;
}

.inscriptionPassword {
    width: 425px;
    height: 50px;
    margin-left: 50px;
    margin-top: 25px;
}


.inscriptionConfirmPassword {
    width: 425px;
    height: 50px;
    margin-left: 492px;
    margin-top: -50px;
}



.colorblanc {
    color: #ffffff;
}

.afficherNomProfil {

    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 130px;
    margin-top: -140px;

   



}


.afficherNotification {

    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-top: 110px;

   



}

.afficherNiveauProfil {
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    margin-left: 130px;

    margin-left: 170px;




}

.photoProfil {
    margin-left: 25px;
    margin-top: 60px;

}


.boutontournoi {

    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 19.5px */
    display: flex;
    width: 332px;
    padding: 4.5px 110px 4.5px 110px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #5551FF;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-color: #5551FF;


}


.box {
    position: absolute;
    margin-left: 250px;
    margin-top: -25px;
   


}

.box select {
    background-color: #5551FF;
    color: white;
    padding: 8px;
    width: 350px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  
}

.box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 14%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 8px;
}


.warning{
    width: 500px;
    height: 50px;
    /*background-color: #000;*/
    margin-top: -50px;
    font-family: Inter;
    font-weight: bolder;
    font-size: 15px;
}