body {
    width: 2756px;
    height: 1390px;
    background: #FFF;
}





.navbar {
    width: 2756px;
    height: 202px;
    flex-shrink: 0;
    display: inline-flex;
}

.image1 {
    width: 230px;
    height: 167px;
    flex-shrink: 0;
}

.titre {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 64px */
}